.DS_Store
.coverage
.env
.env.*
!.env.example
!.env.local.example
!.env.production.example
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.egg-info/
*.pyc
*.pyd
*.pyo
build/
cache/*
dist/
output/*
!cache/.gitkeep
!output/.gitkeep
